/* Explorepage.module.css */
.postList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 10px;
  padding: 0;
  list-style: none;
}

.postContainer {
  width: 80%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
